.quizContainer  {
  background-color: rgba(0, 3, 10, .9);
  border-radius: 8px;
  max-width: 40%;
  text-align: center;
  margin: 0 auto;
}

body {
  font-size: 30px;
  font-family: georgia, serif;
  color: white;
  background-image: url("http://i.imgur.com/MxuKXQK.jpg");
  margin: 25px;
}

.question  {
  padding: 25px;
  margin: 25px;
  letter-spacing: 2.5px;

}

.answerPlease  {
  font-size: 18px;
}

ul  {
  list-style-type: none;
  text-align: left;
  margin: 25px;
  line-height: 140%;
}

input[type="radio"] {
    margin-right: 25px;
    margin-bottom: 15px;
    display: inline-block;
    background-color: red;
    border-color: yellow;
    border: 20px;
}

button   {
  background-color: rgb(39, 55, 106);
  border-radius: 16px;
  width: 250px;
  height: 50px;
  margin: 25px;
  border: none;
  font-family: georgia, serif;
  color: white;
  font-size: 20px;
}

.result  {
  font-size: 18px;

}
